body {
  background-color: #252525;
  height: 100vh;
}

.hidden {
  display: none;
  overflow: 0;
}

.notesNavbar {
  display: flex;
  justify-content: space-between;
}

.notesFooter {
  position: fixed;
  top: 90%;
  right: 5%;
}

.addButton {
  background-color: #222222;
  border-radius: 100%;
  border: none;
}

.searchButton {
  background-color: #393939;
  border-radius: 30%;
  border: none;
  padding-top: 6px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 4px;
  margin-right: 7px;
}

.infoButton {
  background-color: #393939;
  border-radius: 30%;
  border: none;
  padding-top: 6px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 4px;
}

.heroText {
  color: #fff;
  font-size: 1.7em;
  margin-top: 16px;
  margin-left: 20px;
}

.navbarButtons {
  margin-top: 15px;
  margin-right: 20px;
}

.notesWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.firstNoteMotivation {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.2em;
}

.notePlaceholder {
  margin-top: 150px;
}

.note {
  background-color: #fff;
  border-radius: 5px;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 80px;
}

.noteTitle {
  margin-left: 5px;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.noteText {
  margin-left: 5px;
  margin-bottom: 10px;
}

#deleteAlert {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.delAlertContainer {
  position: fixed;
  top: 35%;
  right: 10%;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 30px;
  padding-bottom: 40px;
  border-radius: 7px;
  background-color: #1b1b1b;
}

.delImgContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.delAlertText {
  font-size: 1.2em;
}

.delAlertBtns {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.cancelDelButton {
  margin-right: 10px;
  background-color: green;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2em;
}

.submitDelButton {
  background-color: red;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1.2em;
  margin-left: 15px;
}

.redColor {
  background-color: rgb(242, 86, 86);
}

.blueColor {
  background-color: rgb(85, 85, 247);
}

.yellowColor {
  background-color: yellow;
}

.pinkColor {
  background-color: pink;
}

.greenColor {
  background-color: rgb(27, 208, 27);
}

.purpleColor {
  background-color: rgb(187, 11, 187);
}

.deleteCard {
  background: url("./icons/delete.png") no-repeat center;
  overflow: visible;
  background-color: rgb(246, 27, 27);
  font-size: 0em;
}

#searchAlert {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.searchAlertContents {
  display: flex;
  justify-content: center;
  background-color: #393939;
  border-radius: 50px;
  margin: 20px;
  height: 35px;
}

.searchAlertInput {
  background-color: #393939;
  color: #a6a6a6;
  border: none;
  width: 80%;
  outline: none;
  height: 30px;
  border-radius: 50px;
  font-size: 1em;
}

.searchAlertImageContainer {
  display: flex;
  align-items: center;
}

.matchNotFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  justify-content: center;
  margin-top: 70px;
}/*# sourceMappingURL=style.css.map */